<div class="jumbotron">
  <h1 class="display-4">Uh, oh!</h1>
  <p class="lead">
    That page doesn't exists
  </p>
  <hr class="my-4" />
  <p>
    You are looking for something that doesn't exists
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
